body{
    margin: 0 35%;
    padding: 0%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.focus{
    background: gray;
    padding: 0%;
    border: 1px solid black;
}

